html
  head
    title HOST add info to the new event host is creating (event/:id/addinfo)
    |   
    link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css')
    |   
    link(rel='stylesheet', type='text/css', href='../css/index.css')
    |   
    link(rel='icon', type='img/ico', href='http://www.calvarybelmar.org/wp-content/uploads/2015/06/cc-kitchen-utensils-clip-art-pan.png')
  body
    h1 HOST add info to the new event host is creating (event/:id/addinfo)  
    hr 
    h2 What Should Guests Bring?
    p
    h3 Select a course from the dropdown menu
    form 
      select
        option(value='entree') Entree
        option(value='main') Main
        option(value='salad') Salad
        option(value='dessert') Dessert
      input 
    //Appetizer, Soup, Fish or Pasta, Entree, Main Course, Salad, Dessert, Gift,
    hr  
    h2 Who Do You Want To Invite?

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js')
