extends layout

block content
  #homeWrapper
    .jumbotron
      h1 Welcome to DishOut
      .panel.panel-default
        .panel-heading 
          h3 Sign in to DishOut
          .panel-body
            form(method='post', action='/login')
              .form-group
                label(for='email') Email address
                input#exampleInputEmail1.form-control(type='email', name='email' value='', placeholder='Email')
              .form-group
                label(for='password') Password
                input#exampleInputPassword1.form-control(type='password', name='password', value='', placeholder='Password')
                p
                button.btn.btn-default(type='submit' name='commit' value='Login') Login
                  
        .panel-heading 
          h3 New to DishOut? Register Here
          .panel-body
            form(method='post', action='/signup/')
              .form-group
                label(for='exampleInputEmail1') Email address
                input#exampleInputEmail1.form-control(type='email', name='email' value='', placeholder='Email')
              .form-group
                label(for='exampleInputEmail1') Email address
                input#exampleInputEmail1.form-control(type='email', name='email' value='', placeholder='Email')
              .form-group
                label(for='exampleInputPassword1') Password
                input#exampleInputPassword1.form-control(type='password', name='password', value='', placeholder='Password')
                p
                button.btn.btn-default(type='submit' name='commit' value='Login') Sign Up
