extends layout

block content
  body
    .container
      .row
        .col-md-4
        .col-centered
          h1 Welcome to DishOut
          .panel.panel-default
            .panel-heading 
              h3 Sign in to DishOut
              .panel-body
                form(method='post', action='/login')
                  .form-group
                    label(for='signInEmailLabel') Email address
                    input#signInEmail.form-control(type='email', name='email' value='', placeholder='Email')
                  .form-group
                    label(for='signInPasswordLabel') Password
                    input#signInPassword.form-control(type='password', name='password', value='', placeholder='Password')
                    p
                    button.btn.btn-default(type='submit' name='commit' value='Login') Login
                        
              .panel-heading 
                h3 New to DishOut? Register Here
                .panel-body
                  form(method='post', action='/signup/')
                    .form-group
                      label(for='signUpNameLabel') Email address
                      input#signUpName.form-control(type='text', name='name' value='', placeholder='Email')
                    .form-group
                      label(for='signUpEmailLabel') Email address
                      input#signUpEmail.form-control(type='email', name='email' value='', placeholder='Email')
                    .form-group
                      label(for='signUpPasswordLabel') Password
                      input#signUpPassword.form-control(type='password', name='password', value='', placeholder='Password')
                      p
                      button.btn.btn-default(type='submit' name='commit' value='Login') Sign Up


    
