html
  head
    link(type='text/css', rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css')
    link(type='text/css', rel='stylesheet', href='../css/index.css')
    link(type='img/ico', rel='icon', href='http://www.calvarybelmar.org/wp-content/uploads/2015/06/cc-kitchen-utensils-clip-art-pan.png')
    title User Homepage
  body
    button Create Event
    br
    h3 Events you are Hosting:
    eventsImHosting
      ul
        each val in eventsHosting
          li= val
    br
    br
    h3 Events you are Invited to:
    eventsInvitedTo
      ul
            each val in eventsInvitedTo
              li= val
