html
  head
    link(type='text/css', rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css')
    link(type='text/css', rel='stylesheet', href='../css/index.css')
    link(type='img/ico', rel='icon', href='http://www.calvarybelmar.org/wp-content/uploads/2015/06/cc-kitchen-utensils-clip-art-pan.png')
    title User Homepage
  body
    
    h1 User Homepage
  
    name Name: #{user.name}
    br
    time Email: #{user.email}
  
    hr
  
    form(method="get" action="/event/new")
      input(type='submit', value='Create Event')
    
    hr
    
    eventsImHosting
      h3 Events you are Hosting:
      if hostedEvents.length
        ul
          each val in hostedEvents
            li= val.name
      else
        p You're not hosting any events
        
    hr

    eventsInvitedTo
      h3 Events you are Invited to:
      if guestedEvents.length
        ul
          each val in guestedEvents
            li= val.name
      else
        p You're not invited to any events
