html
  head
    link(type='text/css', rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css')
    |   &#x9;
    link(type='text/css', rel='stylesheet', href='../css/index.css')
    |   &#x9;
    link(type='img/ico', rel='icon', href='http://www.calvarybelmar.org/wp-content/uploads/2015/06/cc-kitchen-utensils-clip-art-pan.png')
    |
    title Stranger Homepage
  body
    button Create Event
    |
    br
    |
    h3 Events you are Hosting:
    |
    div
      h4= eventsHosting
    br
    |
    br
    |
    h3 Events you are Invited to:
    |
    div
      h4= eventsInvited
