html{
  background: rgb(66, 66, 186);
  color: white;
  max-width: 100%;
  max-height: 100%;
  font-family:'Roboto', sans-serif;
}

.entry{
    background: rgb(66, 66, 186);
    padding: 20px;
}


h1{
  font-family:'Roboto', sans-serif;
  font-weight: 900;
  text-align: center;
  color: #FFD700;
  font-size: 60px;
}
