
body {
  background: rgb(252, 237, 217)
}

#wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.login {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.signup {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.submitButton {
  display: flex;
  justify-content: center;

.entry{
  background: rgb(66, 66, 186);
  padding: 20px;
}

.header, .entry{
  display: flex;
  justify-content: space-around;
}

h1{
  font-family: 'Martel Sans', sans-serif;
  font-weight: 900;
  text-align: center;
  color: #22201f;
  font-size: 60px;
}
h2{
  font-family: 'Martel Sans', sans-serif;
  text-align: center;
}
h3{
  font-family: 'Martel Sans', sans-serif;
  text-align: center;
}
h4{
  font-family: 'Martel Sans', sans-serif;
  text-align: center;
}

p{

}
