
body {
    margin-top: 50px; /* Required margin for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    background: url("../images/food.jpg") no-repeat center center fixed;

}

.full {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.col-centered {
    float: none;
    margin: 0 auto;
    max-width: 30em;
}

.login {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.signup {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.submitButton {
  display: flex;
  justify-content: center;
}

.jumbotron {
  margin-top: 8%;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 2em
  margin-right: 20px;
  margin-left: 20px;
}

h1 {
  font-family: 'Martel Sans', sans-serif;
  font-weight: 900;
  text-align: center;
}

h2, h3, h4{
  text-align: center;
}
